body{
    background-color:aqua;
  }
  #wrapper{
    height:100vh;
  }
  #quote-box{
      background-color:aliceblue;
      border-radius: 5px;
      padding: 5em;
  }
  #text{
      font-size:x-large;
      color: aqua;
  }
  #author{
      font-size:large;
      color: aqua;
  }
  #tweet-quote{
      font-size:xx-large;
      color: aqua;
      background-color: aliceblue;
  }
  #new-quote{
      font-size:large;
      border-radius: 3px;
      border-width: 0px;
      background-color: aqua;
      color: aliceblue;
  }
  span{
    padding-left:7px;
  }